#obj files
TransactionsAPI/obj/Debug/net8.0/TransactionsAPI.GeneratedMSBuildEditorConfig.editorconfig
TransactionsAPI/obj/project.assets.json
TransactionsAPI/obj/project.assets.json
TransactionsAPI/obj/project.nuget.cache
