# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
arm/
bin/
obj/
out/

# .NET Core
project.lock.json
project.fragment.lock.json
*.dbmdl
*.dbproj.schemaview
*.jfm
*.jfm.vspscc

# NuGet Packages
**/packages/*
!**/packages/build/
!**/packages/build/PackageRestore/
**/packages/*/build/
**/packages/*/buildTransitive/

# User secrets
secrets.json

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.pdb
*.mdb
*.db
*.log
*.vs
*.swp
*.tmp
*.temp
*.d.ts
*.scc
*.cache
*.publish.xml

# Local development files
appsettings.Development.json
